@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  background-color: #0e0e0e;
  font-family: "Exo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.hero header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
}
.hero header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero header .logo img {
  width: 60px;
  height: auto;
}
.hero header .logo h2 {
  font-weight: 200;
}
.hero header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.hero header nav ul a {
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}
.hero header nav ul a:hover {
  background-color: #6a0dad;
  border-color: #6a0dad;
}
.hero header nav .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hero header nav .hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.hero header nav.active ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/hero.png") center/cover no-repeat;
  filter: blur(15px) brightness(0.7);
  z-index: 0;
}
.hero h1,
.hero .hero-cards {
  position: relative;
  z-index: 1;
}
.hero h1 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 4rem;
}
.hero .hero-cards {
  display: flex;
  gap: 20px;
}
.hero .hero-cards .hero-card {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}
.hero .hero-cards .hero-card img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.users-wrap h2 {
  text-align: center;
  margin: 4rem 0;
  font-weight: 200;
}
.users-wrap .users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.users-wrap .users .user-card {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.users-wrap .users .user-card h2 {
  margin: 0.5rem 1.5rem;
}
.users-wrap .users .user-card:hover {
  background-color: #6a0dad;
}

.individuals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.individuals span {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: green;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 15px;
  font-weight: bold;
}
.individuals section {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.individuals section ul {
  text-align: left;
  padding: 0 1.5rem;
}
.individuals section ul li {
  margin: 0.5rem 0;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.individuals section ul li::marker {
  color: #6a0dad;
  width: 0.5rem;
  content: "⏺";
  font-size: 1rem;
  vertical-align: bottom;
  border-radius: 50%;
}
.individuals section button {
  background: #6a0dad;
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.individuals section button:hover {
  background-color: #ffffff;
  color: #6a0dad;
  border-color: #6a0dad;
}
.individuals section img {
  width: 300px;
  margin: 2rem 0;
  border: 5px solid white;
  border-radius: 15px;
}
.individuals section:last-child ul li::marker {
  color: gold;
}
.individuals section:last-child ul .link-text {
  color: gold;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.individuals section:last-child ul .link-text:hover {
  color: rgb(180, 153, 1);
}
.individuals section:last-child button {
  background: gold;
  color: #0e0e0e;
  padding: 12px 24px;
  transition: all 0.3s ease-in-out;
}
.individuals section:last-child button:hover {
  background-color: rgb(165, 141, 0);
}

.education {
  position: relative;
  background-image: url(./img/education.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  z-index: 0;
}
.education:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-position: inherit;
  background-size: inherit;
  filter: blur(8px) brightness(0.7);
  z-index: -1;
}
.education h2 {
  font-size: 2rem;
  font-weight: 300;
  z-index: 1;
}

.enterprise {
  position: relative;
  background-image: url(./img/enterprise.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  z-index: 0;
}
.enterprise:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-position: inherit;
  background-size: inherit;
  filter: blur(8px) brightness(0.7);
  z-index: -1;
}
.enterprise h2 {
  font-size: 2rem;
  font-weight: 300;
  z-index: 1;
}

.big {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 75%;
  margin: auto auto 4rem auto;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.big ul {
  text-align: left;
  padding: 0 1.5rem;
}
.big ul li {
  margin: 0.5rem 0;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.big ul li::marker {
  color: #6a0dad;
  width: 0.5rem;
  content: "⏺";
  font-size: 1rem;
  vertical-align: bottom;
  border-radius: 50%;
}
.big button {
  background: #6a0dad;
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: auto;
}
.big button:hover {
  background-color: #ffffff;
  color: #6a0dad;
  border-color: #6a0dad;
}

footer {
  margin: 2rem auto;
}
footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .logo img {
  width: 60px;
  height: auto;
}
footer .logo h2 {
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .hero-cards {
    flex-direction: column;
    gap: 10px;
  }
  .users {
    flex-direction: column;
    gap: 10px;
  }
  .individuals {
    flex-direction: column;
    gap: 10px;
  }
  .big {
    max-width: 90%;
  }
  .hero header nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    background-color: #0e0e0e;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .hero header nav ul li {
    margin: 0.5rem 0;
  }
  .hero header nav .hamburger {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  html {
    background-color: white;
  }
  .hero-content-wrap {
    position: relative;
    top: 50px;
  }
  .hero-content-wrap h1 {
    font-size: 2.5rem;
  }
  .individuals section img {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
